<div id="<%= dom_id utility %>">
  <p>
    <strong>Kiosk:</strong>
    <%= utility.kiosk_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= utility.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= utility.description %>
  </p>

</div>
