<div id="<%= dom_id utility %>">

  <p>
    <strong>Name:</strong>
    <%= utility.name %>
  </p>
  <p>
    <strong>Type</strong>
    <%= utility.category_utility.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= utility.quantityperset %>
  </p>

</div>
