<div class="login-card">
  <div class="login-header">
    <h1 style="font-weight: bold; color: green;">Login</h1>
  </div>
  <div class="login-body">
    <h3 style="color: #555; font-size: 18px;">Select your role to login</h3> 
    <%= button_to 'Log In as Admin', new_admin_session_path, class: 'btn btn-grad', data: { turbo: false } %>
    <%= button_to 'Log In as User', new_user_session_path, class: 'btn btn-grad', data: { turbo: false } %>
  </div>
</div>
