<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Type</strong>
    <%= product.category_product.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= product.priceperpack %>
  </p>


</div>
