<!-- Sticky Header -->
<nav class="navbar">
  <div class="container">
    <!-- Logo Section -->
    <div class="logo">
      <span class="brand-name">aranyak</span>
    </div>
    
    <!-- Navigation Links -->
    <ul class="nav-links">
      <li><a href="#" class="active">home</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">catalog</a></li>
      <li><a href="#">reviews</a></li>
      <li><a href="#">support</a></li>
    </ul>

    <!-- Icons Section -->
    <div class="nav-icons">
      <a href="#"><i class="icon">sale</i></a>
      <a href="#"><i class="icon">wishlist</i></a>
      <a href="#"><i class="icon">cart</i></a>
      <a href="#"><i class="icon">log in/sign up</i></a>
    </div>
  </div>
</nav>
