<!-- Sticky Navbar -->
<nav class="navbar">
  <div class="container">
    <!-- Logo Section -->
    <div class="logo">
      <span class="brand-name">aranyak</span>
    </div>

    <!-- Buttons Section -->
    <div class="nav-buttons">
      <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      <% elsif admin_signed_in? %>
        <%= button_to "Sign out", destroy_admin_session_path, method: :delete , class: "btn btn-grad" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
    </div>

  </div>
</nav>
